// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  header {
    .top-bar {
      .col-xs-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
      }

      .col-xs-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
      }

      .text-left ul {
        li {
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .text-right {
        display: flex;
        justify-content: flex-end;

        ul {
          width: 79px;

          li {
            margin-left: 10px;

            &:first-child {
              margin-left: 0;
            }

            a span {
              display: none;
            }
          }
        }
      }
    }

    .company-claim {
      .row {
        position: relative;

        .phone-number {
          text-align: right !important;
          position: absolute;
          right: 0;
          top: 104px;
          order: 2;

          p {
            font-size: 14px;

            i {
              margin-right: 2px;
            }
          }
        }
        .text-center {
          position: relative;
          top: -25px;
          order: 1;
        }
        .cart {
          position: relative;
          padding-left: 15px;
          flex-grow: 0;
          top: -16px;
          right: -29px;
          order: 3;
        }
      }
    }
  }

  footer {
    .footer-menu {
      .menu-wrapper {
        text-align: center;
      }

      .payment-methods {
        display: block;
        margin: 0 auto;
      }
    }

    .bottom-bar {
      .socialmedia {
        text-align: center !important;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    .company-claim {
      .phone-number {
        p {
          font-size: 14px;
        }
      }

      .text-center {
        padding: 0 10px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Custom footer breakpoint
@media (min-width: 992px) and (max-width: 1010px) {
  footer {
    .footer-menu {
      .payment-methods {
        margin-left: -25px;
      }
    }
  }
}

// Custom footer breakpoint
@media (min-width: 768px) and (max-width: 890px) {
  footer {
    .footer-menu {
      .payment-methods {
        margin-left: -60px;
      }
    }
  }
}
