// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .section--advertising {
    .advertising {
      &__half {
        height: 320px;
        padding: 20px;
        .advertising__overlay {
          height: 280px;
        }
        .advertising__item-name {
          font-size: 26px;
          line-height: 26px;
        }
        .advertising__item-name--large {
          font-size: 40px;
          line-height: 40px;
        }
        .advertising__discount {
          font-size: 30px;
          line-height: 30px;
          padding: 10px 6px 9px 7px;
        }
      }
      &__quarter {
        height: 148px;
        &:nth-child(1) {
          margin: 20px 0;
          .advertising__item-name {
            font-size: 20px;
            line-height: 20px;
          }
          .advertising__item-name--small {
            font-size: 14px;
            line-height: 14px;
          }
          .advertising__item-name--color-primary {
            font-size: 24px;
            line-height: 24px;
          }
        }
        &:nth-child(2) {
          padding-right: 0px;
          .advertising__item-name {
            font-size: 14px;
            line-height: 14px;
          }
          .advertising__item-name--color-primary {
            font-size: 19px;
            line-height: 19px;
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .section--advertising {
    .advertising {
      &__quarter {
        &:nth-child(1) {
          margin-top: 30px;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .section--advertising {
    .advertising {
      &__quarter {
        &:nth-child(1) {
          margin-top: 30px;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
