<div class="section--promoted">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 col-12">
        <div class="box">
          <div class="box-title heading row">
            <h4 class="col-6 text-left">Hot Deals</h4>
            <div class="col-6 dots text-right">
              <ul>
                <li><a href="#" class="active"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
          </div>
          <div class="main-carousel">
            <!--mustache.js applied refer to templates.html and search "prmoted-box-template" class -->
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12 col-12">
        <div class="box">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <div class="promoted-jumbo-slogan">
                <h3 class="display-4">indoor <b>furniture</b></h3>
                <p class="lead">save up to 50% of all furniture</p>
              </div>
              <a class="btn btn-primary btn-md" href="#" role="button">Shop now</a>
            </div>
          </div>
          <div class="container container-arrow">
            <div class="row arrow-row">
              <div class="col-6 text-center"><i class="fas fa-angle-left"></i></div>
              <div class="col-6 text-center"><i class="fas fa-angle-right"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
