<div class="section--promoted">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 col-12 promoted-box">
        <div class="box">
          <div class="box-title heading row">
            <h4 class="col-6 text-left">Hot Deals</h4>
            <div class="col-6 dots text-right">
              <ul>
                <li><a href="#" class="promoted-dots"></a></li>
                <li><a href="#" class="promoted-dots"></a></li>
                <li><a href="#" class="promoted-dots"></a></li>
              </ul>
            </div>
          </div>
          <div class="promoted-box-carousel">
            <div class="product-box carousel-cell promoted-cell">
              <div class="photo">
                <div class="buttons">
                  <a href="#" class="btn-main-small"
                    ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                  >
                </div>
                <div class="row">
                  <div class="promoted-counter col col-sm col-md col-lg col-xl">
                    <p class="number">25</p>
                    <p class="unit">days</p>
                  </div>
                  <div class="promoted-counter col col-sm col-md col-lg col-xl">
                    <p class="number">10</p>
                    <p class="unit">hrs</p>
                  </div>
                  <div class="promoted-counter col col-sm col-md col-lg col-xl">
                    <p class="number">45</p>
                    <p class="unit">mins</p>
                  </div>
                  <div class="promoted-counter col col-sm col-md col-lg col-xl">
                    <p class="number">30</p>
                    <p class="unit">secs</p>
                  </div>
                </div>
              </div>
              <div class="content">
                <h5>Aenean Ru Bristique</h5>
                <div class="stars">
                  <a href="#" class="full"></a> <a href="#" class="full"></a>
                  <a href="#"></a> <a href="#"></a> <a href="#"></a>
                </div>
              </div>
              <div class="line"></div>
              <div class="actions">
                <div class="outlines">
                  <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                  <a href="#" class="btn-outline"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                  <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
                </div>
                <div class="price">
                  <div class="old-price">$35.00</div>
                  <div class="btn-main-small no-hover">$25.00</div>
                </div>
              </div>
            </div>
            <div class="product-box carousel-cell promoted-cell">
              <div class="photo">
                <div class="buttons">
                  <a href="#" class="btn-main-small"
                    ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                  >
                </div>
                <div class="row">
                  <div class="promoted-counter col col-sm col-md col-lg col-xl">
                    <p class="number">25</p>
                    <p class="unit">days</p>
                  </div>
                  <div class="promoted-counter col col-sm col-md col-lg col-xl">
                    <p class="number">10</p>
                    <p class="unit">hrs</p>
                  </div>
                  <div class="promoted-counter col col-sm col-md col-lg col-xl">
                    <p class="number">45</p>
                    <p class="unit">mins</p>
                  </div>
                  <div class="promoted-counter col col-sm col-md col-lg col-xl">
                    <p class="number">30</p>
                    <p class="unit">secs</p>
                  </div>
                </div>
              </div>
              <div class="content">
                <h5>Aenean Ru Bristique</h5>
                <div class="stars">
                  <a href="#" class="full"></a> <a href="#" class="full"></a>
                  <a href="#"></a> <a href="#"></a> <a href="#"></a>
                </div>
              </div>
              <div class="line"></div>
              <div class="actions">
                <div class="outlines">
                  <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                  <a href="#" class="btn-outline"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                  <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
                </div>
                <div class="price">
                  <div class="old-price">$30.00</div>
                  <div class="btn-main-small no-hover">$20.00</div>
                </div>
              </div>
            </div>
            <div class="product-box carousel-cell promoted-cell">
              <div class="photo">
                <div class="buttons">
                  <a href="#" class="btn-main-small"
                    ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                  >
                </div>
                <div class="row">
                  <div class="promoted-counter col col-sm col-md col-lg col-xl">
                    <p class="number">25</p>
                    <p class="unit">days</p>
                  </div>
                  <div class="promoted-counter col col-sm col-md col-lg col-xl">
                    <p class="number">10</p>
                    <p class="unit">hrs</p>
                  </div>
                  <div class="promoted-counter col col-sm col-md col-lg col-xl">
                    <p class="number">45</p>
                    <p class="unit">mins</p>
                  </div>
                  <div class="promoted-counter col col-sm col-md col-lg col-xl">
                    <p class="number">30</p>
                    <p class="unit">secs</p>
                  </div>
                </div>
              </div>
              <div class="content">
                <h5>Aenean Ru Bristique</h5>
                <div class="stars">
                  <a href="#" class="full"></a> <a href="#" class="full"></a>
                  <a href="#"></a> <a href="#"></a> <a href="#"></a>
                </div>
              </div>
              <div class="line"></div>
              <div class="actions">
                <div class="outlines">
                  <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                  <a href="#" class="btn-outline"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                  <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
                </div>
                <div class="price">
                  <div class="old-price">$35.00</div>
                  <div class="btn-main-small no-hover">$25.00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12 col-12">
        <div class="box">
          <div class="promoted-slider-carousel">
            <div class="jumbotron carousel-cell">
              <div class="photo">
                <img src="./images/jumbo/jumbo_1.jpg" alt="__" />
                <div class="container">
                  <div class="promoted-jumbo-slogan">
                    <h3 class="display-4">indoor <b>furniture</b></h3>
                    <p class="lead">save up to 50% of all furniture</p>
                  </div>
                  <a class="btn btn-primary btn-md" href="#" role="button">Shop now</a>
                </div>
              </div>
            </div>
            <div class="jumbotron carousel-cell">
              <div class="photo">
                <img src="./images/jumbo/jumbo_2.jpg" alt="__" />
                <div class="container">
                  <div class="promoted-jumbo-slogan">
                    <h3 class="display-4">indoor <b>furniture</b></h3>
                    <p class="lead">save up to 30% of all commode</p>
                  </div>
                  <a class="btn btn-primary btn-md" href="#" role="button">Shop now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="container container-arrow">
            <div class="row arrow-row">
              <div class="col-6 text-center" id="button-previous">
                <i class="fas fa-angle-left"></i>
              </div>
              <div class="col-6 text-center" id="button-next">
                <i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
