<div class="section--promoted">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="box-title heading row">
          <h3 class="col-auto text-left">Hot Deals</h3>
          <div class="col-auto dots text-right">
            <ul>
              <li><a href="#" class="active"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </div>
        <div class="product-box">
          <div class="photo">
            <div class="buttons">
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
            <div class="row">
              <div class="promoted-counter col-auto"><p>25 days</p></div>
              <div class="promoted-counter col-auto"><p>10 hrs</p></div>
              <div class="promoted-counter col-auto"><p>45 mins</p></div>
              <div class="promoted-counter col-auto"><p>30 secs</p></div>
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
            </div>
            <div class="price">
              <div class="old-price">$ 350.00</div>
              <div class="btn-main-small no-hover">$ 300.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <div class="promoted-jumbo-title">
              <h1 class="display-4">indoor furniture</h1>
              <p class="lead">save up to 50% of all furniture</p>
            </div>
            <a class="btn btn-primary btn-lg" href="#" role="button">Shop now</a>
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-center"><i class="fas fa-angle-left"></i></div>
          <div class="col-6 text-center"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
