<div class="section--advertising">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="advertising__half advertising__half--image_1">
          <div class="advertising__overlay">
            <p class="advertising__item-name advertising__item-name">
              guest room<br /><span class="advertising__item-name--large">sofa</span>
            </p>
            <div class="advertising__discount-wrapper">
              <span class="advertising__discount">&#45;20&#37;</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="advertising__quarter advertising__quarter--image_1">
          <p class="advertising__item-name advertising__item-name--color-black">
            <span class="advertising__item-name--bold">office</span> chair<br />
            <span class="advertising__item-name--small">collection</span><br />
            <span class="advertising__item-name--color-primary">&#36;200.00</span>
          </p>
        </div>
        <div class="advertising__quarter advertising__quarter--image_2">
          <p
            class="advertising__item-name advertising__item-name--color-black advertising__item-name--align-right"
          >
            <span class="advertising__item-name--color-primary">
              <span class="advertising__item-name--bold">special</span> collection</span
            ><br />save up 45&#37; of furniture
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
