<div class="section--products">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>New furniture</h3></div>
        <div class="col menu">
          <ul>
            <li><a href="#">Bed</a></li>
            <li><a href="#" class="active">Chair</a></li>
            <li><a href="#">Sofa</a></li>
            <li><a href="#">Table</a></li>
            <li><a href="#">Dining</a></li>
          </ul>
        </div>
        <div class="col-auto dots"><ul></ul></div>
      </div>
    </div>
    <div class="product-container">
      <div class="previous"><i class="fas fa-angle-left"></i></div>
      <div class="next"><i class="fas fa-angle-right"></i></div>
      <div class="row row-products">
        <!--mustache.js applied refer to templates.html and search "products-box-column-template" class -->
      </div>
    </div>
  </div>
</div>
