<div class="section--gallery">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="panel-bar">
              <div class="row no-gutters align-items-end">
                <div class="col-auto heading"><h3>Furniture gallery</h3></div>
                <div class="col"></div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="gallery-box active">
                  <div class="select">
                    <ul>
                      <li><a href="#" class="active">Featured</a></li>
                      <li><a href="#">Top seller</a></li>
                      <li><a href="#">Sale off</a></li>
                      <li><a href="#">Top rated</a></li>
                    </ul>
                  </div>
                  <div class="photo-wrapper">
                    <div class="photo">
                      <div class="buttons-container outlines">
                        <a href="#" class="btn-outline heart">
                          <i class="far fa-heart"></i>
                        </a>
                        <a href="#" class="btn-outline exchange">
                          <i class="fas fa-exchange-alt"></i>
                        </a>
                        <a href="#" class="btn-outline eye">
                          <i class="far fa-eye"></i>
                        </a>
                        <a href="#" class="btn-outline basket active">
                          <i class="fas fa-shopping-basket"></i>
                        </a>
                      </div>
                    </div>
                    <div class="price">
                      <p>$ 120.00</p>
                      <div class="price-old">$ 150.00</div>
                    </div>
                    <div class="content">
                      <div class="content-wrapper">
                        <h5>Aenean Ru Bristique</h5>
                        <div class="stars">
                          <a href="#" class="full"></a> <a href="#" class="full"></a>
                          <a href="#"></a> <a href="#"></a> <a href="#"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="products-container">
                    <a href="#" class="btn-main-brands-switch">
                      <i class="fas fa-chevron-left"></i>
                    </a>
                    <div class="gallery-product">
                      <img src="images/pictures/ch_1.jpg" />
                    </div>
                    <div class="gallery-product">
                      <img src="images/pictures/ch_2.jpg" />
                    </div>
                    <div class="gallery-product">
                      <img src="images/pictures/ch_3.jpg" />
                    </div>
                    <div class="gallery-product active">
                      <img src="images/pictures/ch_4.jpg" />
                    </div>
                    <div class="gallery-product">
                      <img src="images/pictures/ch_5.jpg" />
                    </div>
                    <a href="#" class="btn-main-brands-switch">
                      <i class="fas fa-chevron-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="promo-offer">
              <div class="price">From <span class="value">$ 50.80</span></div>
              <h3>Bedroom Bed</h3>
              <div class="btn-main opposite">Shop now</div>
              <img
                src="https://i.dlpng.com/static/png/329101_thumb.png"
                alt="Bedroom bed"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
