<div class="section--blog-posts">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Latest blog</h3></div>
        <div class="col"></div>
        <div class="col-auto dots">
          <ul>
            <li><a href="#" class="blog-dots"></a></li>
            <li><a href="#" class="blog-dots"></a></li>
            <li><a href="#" class="blog-dots"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row row-posts blog-carousel">
      <div class="previous" id="button-blog-previous">
        <i class="fas fa-angle-left"></i>
      </div>
      <div class="next" id="button-blog-next"><i class="fas fa-angle-right"></i></div>
      <!--mustache.js applied refer to templates.html and search "post-box-column-template" class -->
    </div>
  </div>
</div>
