<div class="section--brands">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="brands-container">
          <a href="#" class="btn-main-brands-switch">
            <i class="fas fa-chevron-left"></i>
          </a>
          <div class="logo-container">
            <img src="./images/brands/br_1.png" alt="brand_1" />
          </div>
          <div class="logo-container">
            <img src="./images/brands/br_2.png" alt="brand_2" />
          </div>
          <div class="logo-container">
            <img src="./images/brands/br_3.png" alt="brand_3" />
          </div>
          <div class="logo-container">
            <img src="./images/brands/br_4.png" alt="brand_4" />
          </div>
          <div class="logo-container">
            <img src="./images/brands/br_5.png" alt="brand_5" />
          </div>
          <div class="logo-container">
            <img src="./images/brands/br_6.png" alt="brand_6" />
          </div>
          <a href="#" class="btn-main-brands-switch">
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
