<div class="section--brands">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="brands-container brands-carousel">
          <div class="btn-main-brands-switch previous" id="button-brands-previous">
            <i class="fas fa-chevron-left"></i>
          </div>
          <div class="btn-main-brands-switch next" id="button-brands-next">
            <i class="fas fa-chevron-right"></i>
          </div>
          <div class="logo-container carousel-cell">
            <img src="./images/brands/br_1.png" alt="brand_1" />
          </div>
          <div class="logo-container carousel-cell">
            <img src="./images/brands/br_2.png" alt="brand_2" />
          </div>
          <div class="logo-container carousel-cell">
            <img src="./images/brands/br_3.png" alt="brand_3" />
          </div>
          <div class="logo-container carousel-cell">
            <img src="./images/brands/br_4.png" alt="brand_4" />
          </div>
          <div class="logo-container carousel-cell">
            <img src="./images/brands/br_5.png" alt="brand_5" />
          </div>
          <div class="logo-container carousel-cell">
            <img src="./images/brands/br_6.png" alt="brand_6" />
          </div>
          <div class="logo-container carousel-cell">
            <img src="./images/brands/br_6.png" alt="brand_6" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
