<div class="section-feedback">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Client Feedback</h3></div>
        <div class="col"></div>
        <div class="col-auto dots">
          <ul>
            <li><a href="#"></a></li>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="feedback-slider">
      <div class="feedback-slide visible">
        <i class="fas fa-quote-right"></i>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in turpis
          urna. Cras suscipit massa est, nec bibendum leo faucibus sit amet. Vestibulum
          blandit nisi et magna finibus porttitor.
        </p>
        <div class="client">
          <img src="https://via.placeholder.com/60" alt="client-picture" />
          <div class="client-details">
            <h5>John Smith</h5>
            <p>Furniture Client</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
