<script id="product-box-column-template" type="x-tmpl-mustache">
  <div class="product-box-container col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
    <div id="product-box-{{id}}" class="product-box {{type}}">
      <div class="photo">
        <div class="sale">sale</div>
        <div class="buttons">
          <a href="#" class="btn-main-small">Quick View</a>
          <a href="#" class="btn-main-small">
            <i class="fa fa-shopping-basket"></i> ADD TO CART
          </a>
        </div>
      </div>
      <div class="content">
        <h5> {{name}} </h5>
        <div class="stars js-rating">
          <a href="#" class="full"></a>
          <a href="#" class="full"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </div>
      </div>
      <div class="line"></div>
      <div class="actions">
        <div class="outlines">
          <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
          <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
        </div>
        <div class="price">
          <div class="old-price"> {{old_price}} </div>
          <div class="btn-main-small no-hover"> {{price}} </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="post-box-column-template" type="x-tmpl-mustache">
  <div class="col-12 carousel-cell blog-cell">
      <div class="post-box">
        <a href="">
          <div class="cover">
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> {{public_data}} </div>
              <div class="comments"><i class="fas fa-comments"></i> {{comments}} </div>
            </div>
          </div>
          <div class="post-info">
            <h5> {{title}} </h5>
            <p>
                {{description}}
            </p>
            <div class="more"><div class="btn-main">Read more</div></div>
          </div>
        </a>
      </div>
    </div>
</script>
