.advertising {
  &__half {
    height: 420px;
    padding: 33px;
    &--image_1 {
      background: url("./../images/ad_sofa_1.jpg") 0 / cover;
    }
    .advertising__item-name {
      font-weight: bold;
      font-size: 36px;
      line-height: 36px;
      color: #fff;
    }
    @media (max-width: 576px) {
      height: 320px;
      padding: 20px;
      .advertising__overlay {
        height: 280px;
      }
      .advertising__item-name {
        font-size: 26px;
        line-height: 26px;
      }
      .advertising__item-name--large {
        font-size: 40px;
        line-height: 40px;
      }
      .advertising__discount {
        font-size: 30px;
        line-height: 30px;
        padding: 10px 6px 9px 7px;
      }
    }
  }
  &__quarter {
    display: flex;
    align-items: center;
    height: 195px;
    &:nth-child(1) {
      background: url("./../images/ad_office_chairs.jpg") 0 / cover;
      justify-content: center;
      margin-bottom: 30px;
      .advertising__item-name {
        font-size: 30px;
        line-height: 21px;
      }
      .advertising__item-name--small {
        display: inline-block;
        margin-bottom: 5px;
      }
      .advertising__item-name--color-primary {
        font-size: 36px;
        line-height: 36px;
        font-weight: 600;
      }
    }
    &:nth-child(2) {
      background: url("./../images/ad_sofa_2.jpg") 0 / cover;
      justify-content: flex-end;
      padding-right: 25px;
      .advertising__item-name {
        font-size: 18px;
        line-height: 18px;
      }
      .advertising__item-name--color-primary {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 5px;
        display: inline-block;
      }
    }
    @media (max-width: 992px) {
      &:nth-child(1) {
        margin-top: 30px;
      }
    }
    @media (max-width: 576px) {
      height: 148px;
      &:nth-child(1) {
        margin: 20px 0;
        .advertising__item-name {
          font-size: 20px;
          line-height: 20px;
        }
        .advertising__item-name--small {
          font-size: 14px;
          line-height: 14px;
        }
        .advertising__item-name--color-primary {
          font-size: 24px;
          line-height: 24px;
        }
      }
      &:nth-child(2) {
        padding-right: 0px;
        .advertising__item-name {
          font-size: 14px;
          line-height: 14px;
        }
        .advertising__item-name--color-primary {
          font-size: 19px;
          line-height: 19px;
        }
      }
    }
  }
  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 354px;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.5);
  }
  &__item-name {
    margin: 0;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    &--color-black {
      color: #000;
    }
    &--color-primary {
      color: $primary;
    }
    &--bold {
      font-weight: bold;
    }
    &--align-right {
      text-align: right;
    }
    &--small {
      font-size: 18px;
      line-height: 18px;
    }
    &--large {
      display: inline-block;
      line-height: 60px;
      font-size: 60px;
      margin-bottom: 5px;
    }
  }
  &__discount-wrapper {
    display: flex;
  }
  &__discount {
    padding: 19px 12px 18px 15px;
    border: 5px solid #fff;
    font-size: 50px;
    line-height: 37px;
    color: #fff;
  }
}
