header {
  .top-bar {
    background-color: $header-topbar-bg;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        line-height: 55px;

        a {
          color: #ffffff;
          font-size: 13px;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }

    .text-left ul li {
      margin-right: 1.5rem;

      i {
        margin-left: 5px;
      }
    }

    .text-right ul li {
      margin-left: 1.5rem;

      i {
        margin-right: 5px;
      }
    }
  }

  .company-claim {
    background-color: $header-bg;

    .container > .row {
      height: 145px;
    }

    .phone-number {
      p {
        margin: 0;
        font-size: 17px;
        line-height: 42px;
        color: rgb(216, 216, 216);
        font-weight: 500;

        i {
          font-size: 32px;
          color: $primary;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 0.8rem;
        }
      }
    }

    .cart {
      .cart-box {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        position: relative;
        color: #ffffff;

        .cart-icon {
          background-color: $primary;
          width: 55px;
          height: 50px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;

          i {
            margin-right: 5px;
          }
        }

        .cart-counter {
          width: auto;
          min-width: 28px;
          height: 27px;
          padding: 0 4px;
          border-radius: 14px;
          background-color: $header-bg;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          align-content: flex-start;
          font-size: 14px;
          color: rgb(224, 227, 237);
          position: relative;
          top: 50%;
          right: 14px;
        }

        &:hover {
          .cart-icon {
            background-color: lighten($primary, 10%);
          }
        }
      }
    }
  }

  .menu-bar {
    box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
    background-color: #ffffff;

    .container > .row {
      height: 84px;
    }

    .search-form {
      border: 1px solid $form-border-color;
      display: inline-flex;
      height: 45px;
      color: $text-color;

      .category {
        border-right: 1px solid $form-border-color;
        display: flex;
        align-items: center;
        position: relative;

        i:first-child {
          color: $primary;
          position: absolute;
          left: 10px;
          z-index: 0;
        }

        i:last-child {
          position: absolute;
          right: 10px;
          z-index: 0;
        }

        select {
          -webkit-appearance: none;
          border: 0;
          background-color: transparent;
          outline: none;
          padding: 5px 30px 5px 35px;
          font-size: 14px;
          position: relative;
          z-index: 1;
        }
      }

      .search-field {
        display: flex;
        align-items: center;
        position: relative;

        input {
          border: 0;
          padding-left: 10px;
          font-size: 14px;
          outline: none;

          &::placeholder {
            color: $text-color;
          }
        }

        button {
          border: 0;
          background-color: transparent;
          outline: none;
        }
      }
    }

    .mobile-menu-trigger {
      display: none;

      .mobile-menu-trigger-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #292929;
        height: 44px;
        width: 44px;
        cursor: pointer;
        transition: 0.5s ease;

        span {
          display: block;
          height: 4px;
          width: 25px;
          background-color: #d58e32;
          border-radius: 10px;
          transform: rotate(0deg) translate(0px, 0px);
          transition: 0.5s ease;
          transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);

          &:nth-child(1) {
            transform-origin: left;
          }

          &:nth-child(2) {
            margin-top: 4px;
            transform-origin: center;
          }

          &:nth-child(3) {
            margin-top: 4px;
            transform-origin: left;
          }
        }
      }
    }

    .menu {
      display: flex;
      align-self: stretch;

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;

          a {
            color: $text-color;
            text-transform: uppercase;
            font-size: 12px;
            padding: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-top: 4px solid #ffffff;
            font-weight: 500;
            letter-spacing: 1px;

            &:hover,
            &.active {
              background-color: $primary;
              color: #ffffff;
              border-color: $primary;
            }

            &.active {
              border-color: $text-color;
            }
          }
        }
      }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      .search-field input {
        max-width: 173px;
      }

      .menu {
        justify-content: flex-end;
      }

      .menu ul li a {
        padding: 0.8rem;
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      .container > .row {
        height: auto;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
      }

      .menu ul {
        width: 100%;
        justify-content: space-between;
      }

      .search-form {
        display: flex;
        margin: 10px 0;
      }

      .search-field {
        width: 100%;
      }

      input {
        width: 100%;
      }
    }

    @media (min-width: 1px) and (max-width: 767px) {
      &.open {
        box-shadow: none;
        transition: 0.5s ease;

        .mobile-menu-trigger-button {
          background-color: #864343;

          span {
            transform: rotate(45deg) translate(3px, -2px);

            &:nth-child(2) {
              width: 0%;
              opacity: 0;
            }

            &:nth-child(3) {
              transform: rotate(-46deg) translate(1px, 4px);
            }
          }
        }

        .menu {
          display: block;
          opacity: 1;
          visibility: visible;
          height: 413px;

          ul {
            box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
          }
        }
      }

      .container > .row {
        height: auto;
        position: relative;

        & div:first-child {
          padding-right: 0;
        }

        .mobile-menu-trigger {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }

      .search-form {
        display: flex;
        margin: 10px 0;

        .search-field {
          width: 100%;
        }

        input {
          width: 100%;
        }
      }

      .menu {
        overflow: hidden;
        opacity: 0;
        transition: 0.5s ease;
        height: 0;
        visibility: hidden;
        position: absolute;
        top: 65px;
        width: 100%;
        z-index: 1;
        background: white;

        ul {
          display: block;

          li {
            justify-content: center;

            a {
              width: 100%;
              height: 58px;
            }
          }
        }
      }
    }

    @media (max-width: 575px) {
      .col-xs-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
      }

      .col-xs-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
      }

      .container > .row {
        height: auto;
        position: relative;
      }

      .search-form {
        display: block;
        height: auto;

        .category {
          border-right: 0;
          border-bottom: 1px solid #292929;

          select {
            width: 100%;
          }
        }

        .search-field {
          padding: 3px 0;
        }
      }

      .mobile-menu-trigger {
        flex-grow: 0;
      }

      .menu {
        top: 86px;
      }
    }
  }
}
