//@media (min-width: 1200px) {
.blog-carousel {
  overflow: hidden;
  position: relative;
  div.previous,
  div.next {
    position: absolute;
    display: inline-flex;
    height: 100%;
    width: 16.5%;
    z-index: 1;
    i {
      width: 100%;
      display: none;
      font-size: 4rem;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      opacity: 0.4;
      &::before {
        color: black;
      }
    }
  }
  div.previous {
    left: 0;
    i {
      background-image: linear-gradient(to left, rgba(250, 0, 0, 0), black);
    }
  }

  div.next {
    right: 0;
    i {
      background-image: linear-gradient(to right, rgba(250, 0, 0, 0), black);
    }
  }
  &:hover {
    div.previous:hover,
    div.next:hover {
      i {
        display: inline-flex;
      }
    }
  }
}

.flickity-viewport {
  width: 100%;
}

.carousel-cell {
  width: 66%;

  .post-box {
    margin-bottom: 2rem;

    a {
      color: $text-color;

      .cover {
        padding: 70% 25px 0 25px;
        background: {
          color: #f4f5f7;
          size: cover;
          position: center;
        }

        .details {
          padding: 15px 20px;
          display: flex;
          background-color: #ffffff;
          font-size: 14px;

          & > * {
            flex: 1 1 auto;
          }

          .date {
            text-align: left;
          }

          .comments {
            text-align: right;
          }
        }
      }

      .post-info {
        padding: 25px;

        h5 {
          color: $text-color;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          color: rgb(103, 103, 103);
          text-align: justify;
        }

        .more {
          text-align: center;
          padding-top: 30px;

          .btn-main {
            display: inline-block;
          }
        }
      }
    }

    &:hover {
      a {
        text-decoration: none;

        .more {
          padding-top: 30px;
          text-align: center;

          .btn-main {
            background-color: $primary;
          }
        }

        h5 {
          font-size: 16px;
          line-height: 24px;
          color: $primary;
          letter-spacing: 1px;
        }
      }
    }
  }
}
/*
@media (min-width: 768px) and (max-width: 1199px) {
  .post-box {
    margin-bottom: 2rem;

    a {
      color: $text-color;

      .cover {
        padding: 70% 25px 0 25px;
        background: {
          color: #f4f5f7;
          size: cover;
          position: center;
        }

        .details {
          padding: 15px 20px;
          display: flex;
          background-color: #ffffff;
          font-size: 14px;

          & > * {
            flex: 1 1 auto;
          }

          .date {
            text-align: left;
          }

          .comments {
            text-align: right;
          }
        }
      }

      .post-info {
        padding: 25px;

        h5 {
          color: $text-color;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          color: rgb(103, 103, 103);
          text-align: justify;
        }

        .more {
          text-align: center;
          padding-top: 30px;

          .btn-main {
            display: inline-block;
          }
        }
      }
    }

    &:hover {
      a {
        text-decoration: none;

        .more {
          padding-top: 30px;
          text-align: center;

          .btn-main {
            background-color: $primary;
          }
        }

        .post-info {
          h5 {
            color: $primary;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .post-box {
    margin-bottom: 2rem;

    a {
      color: $text-color;

      .cover {
        padding: 70% 25px 0 25px;
        background: {
          color: #f4f5f7;
          size: cover;
          position: center;
        }

        .details {
          padding: 15px 20px;
          display: flex;
          background-color: #ffffff;
          font-size: 14px;

          & > * {
            flex: 1 1 auto;
          }

          .date {
            text-align: left;
          }

          .comments {
            text-align: right;
          }
        }
      }

      .post-info {
        padding: 25px;

        h5 {
          color: $text-color;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          color: rgb(103, 103, 103);
          text-align: justify;
        }

        .more {
          text-align: center;
          padding-top: 30px;
          .btn-main {
            display: inline-block;
          }
        }
      }
    }

    &:hover {
      a {
        text-decoration: none;
        .more {
          text-align: center;
          padding-top: 30px;
          .btn-main {
            background-color: $primary;
          }
        }

        .post-info {
          h5 {
            color: $primary;
          }
        }
      }
    }
  }
}*/

@for $i from 1 through 3 {
  .col-12:nth-child(#{$i}) {
    .cover {
      background-image: url("../images/blog/des_#{$i}.jpg");
    }
  }
}
