* {
  box-sizing: border-box;
}

.box {
  .promoted-slider-carousel {
    overflow: hidden;
    position: relative;
    height: 95%;

    .flickity-viewport {
      height: 100%;

      .flickity-slider {
        height: 100%;
      }

      .jumbotron {
        margin: 0;
        padding: 0;
        display: block;

        &.carousel-cell {
          width: 100%;
          height: 100%;
        }

        .photo {
          height: 100%;
          background-color: #f4f5f7;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          align-content: center;
          align-items: center;
          img {
            display: block;
            object-fit: fill;
            max-width: 100%;
            height: auto;
          }
        }

        .container {
          position: absolute;
          top: 33%;
          padding: 0;
          margin: 0;
          text-align: center;

          .promoted-jumbo-slogan {
            width: 100%;
            padding: 60px 0;
            color: #fff;
            background-color: rgba(49, 51, 50, 0.5);
            text-transform: uppercase;

            p,
            h3 {
              margin: 0;
            }

            h3 {
              font-size: 42px;
              line-height: 0.9;
            }
            p {
              font-size: 18px;
            }
          }
          .btn {
            position: relative;
            bottom: 20px;
            padding: 12px 24px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            background-color: #ffffff;
            border: none;

            &:hover {
              color: #212529;
              background-color: $primary;
            }
          }
        }
      }
    }
  }

  .container-arrow {
    height: 5%;
    .arrow-row {
      height: 100%;
      background-color: #000;

      .col-6 {
        color: #fff;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;

        &:hover {
          background-color: $primary;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .box {
    .promoted-slider-carousel {
      .flickity-viewport {
        .jumbotron {
          .container {
            .promoted-jumbo-slogan {
              padding: 40px 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .box {
    .promoted-slider-carousel {
      .flickity-viewport {
        .jumbotron {
          .container {
            .promoted-jumbo-slogan {
              padding: 40px 0;
            }
          }
        }
      }
    }
  }
}
