.section--brands {
  border-top: 2px solid lightslategray;
  border-bottom: 2px solid lightslategray;

  .brands-container {
    position: relative;
    overflow: hidden;

    .btn-main-brands-switch {
      position: absolute;
      color: white;
      background-color: $footer-claim-bg;
      font-size: 16px;
      font-weight: 600;
      line-height: 70px;
      padding: 10px 15px;
      margin: 20px auto;
      height: 90px;
      text-align: center;
      z-index: 1;

      &:not(.no-hover):hover {
        color: white !important;
        background-color: $primary;
        text-decoration: none;
      }
      &.previous {
        left: 0;
      }
      &.next {
        right: 0;
      }
    }

    .logo-container {
      margin: 20px 0;
      width: 140px;
      height: 90px;
      text-align: center;
      line-height: 83px;
      border: 2px solid lightslategray;
      flex: 0 1 auto;

      img {
        padding: 10px;
      }
    }
  }
}
